@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
}

:root{
	--f7-theme-color:#460826;
	--f7-navbar-bg-color:#F3E3D4; /*navbar*/
	--f7-navbar-link-color:#460826; /*navbar link*/
	--f7-navbar-text-color:#80116d;
	--f7-bars-bg-color:#fff;/*toolbar*/
	--f7-tabbar-link-inactive-color: #333; /*link toolbar*/
	--f7-block-margin-vertical:20px;
	--f7-card-footer-border-color:transparent; 
	--morado:#8d0b57;
	--pieloscuro: #d3a690;
	--pielclaro: #fff8f4;
	--rojizo:#7E2349;
	
}
h1,h2,h3,h4,h5,h6,p{
	margin: 5px 0;
}

.img-fluid{
	max-width: 100%;
}
/*side panel controls*/

.panel-right{
	border-top-left-radius: 15px;
	
}
.profile img{
	border-radius: 100%;
}
.profile p{
	color: var(--morado);
}

.close-icon{
	text-align: end;
	padding-top: 5%;
	padding-right: 5%;
	color: var(--f7-theme-color);
}

#profile-bar{
	text-align: center;
}

.panel i{
	color: var(--morado);
	padding-left: 10%;
	font-size: 35px;
	margin-top: -10px;
	}

.lower-items{
	
}

.item-inner{
	font-weight:700;
}

#panel-nav .item-title{
	font-weight: 700;
	font-size: 15px;
	color: var(--morado);
}

/*side panel controls*/

/* upper navbar controls*/

.navbar-inner img{
max-width: 150%;
max-height: 150%;
padding-right: 25%;
margin-left: -50%;
padding-top: 4px;
size-adjust: initial;



}
.center , searchbar{
	max-width:200px;
	margin-right: 10%;
	
}
.center , placeholder{
	border-radius: 100%;
}



/*Toolbar Bottom*/
.toolbar-bottom{
	background-color: var(--f7-navbar-bg-color);
	
}
.toolbar-bottom i{
	background-color: var(--f7-navbar-bg-color);
	color: var(--pieloscuro);
	font-size: 20px;
	
}

.tabbar-label{
	color: var(--pieloscuro);

}  

/*Toolbar Bottom*/

/*Page content*/
.categorias .item-media img{
	width: 130px;
	border-radius: 15px;
	height: 135px;
	/**padding-left: 5%;*/
	max-width: 100%;

	
}
.Shop .item-media img{
	width: 130px;
	border-radius: 15px;
	height: 135px;
	
}

.item-title{
	margin-top: 15%;
	font-weight: 200;
}


.item-title-row{
	color: #460826;
	font-size: 18px;
	padding-top: 3%;
	
}


.home-cat{
 padding-top: 10%;
 
 color: var(--f7-navbar-text-color);
 font-weight: 900;
 font-size: 20px;
 
}
.home-title{
	padding-top: 10%;
	padding-left: 5%;
	color: var(--f7-navbar-text-color);
	font-weight:900;
	font-size: 20px;
	
   }

.iosicon{
	margin-top: 4.5%;
	margin-left: 15px;
	
}
.subtitles{
	color: var(--f7-navbar-text-color);
 font-weight: 200;
 font-size: 20px;
 margin-top: -15px;

}.btnsim{
	border:solid;
	border-radius: 15px;
	text-align: center;
	border-color: #333;
	padding-right: 5%;
	
	

	
}

.btnsim i{
	font-size:18px;
	margin-top: 5px;
	
}
.prodfav{
	padding-top: 5px;
}

.item-media2 img{
	width: 150px;
	border-radius: 15px;
	height: 150px;
	padding-right: 25%;
}

.prod-title{
	font-weight: 300;
}

.item-title2{
	font-weight: 500;
}

.item-after{
	font-size: 45px;
}

.abt-title{
	color: var(--f7-navbar-text-color);
	margin-top: 10%;
}

.abt-subtitle{
	color: var(--f7-navbar-text-color);
	margin-top: 53;
	font-size: 15px;
}

.About .item-media img{
	width: 100%;
	border-radius: 15px;
	height: 80%
	
	
}
.links-list a:after, .list .item-inner:after{
	background-color: #fff;
}

.navbar-items .item-inner{
	margin-top: -25px;
}




























